# Core app dependencies
streamlit
python-dotenv

# LangChain + Chroma + Embeddings
langchain
langchain-chroma 
langchain-community
langchain-openai
langchain-groq
chromadb

# PDF and DOCX handling
python-docx
PyMuPDF

# Optional but useful
tiktoken
